<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.72.0.0" targetFramework="native" />
  <package id="boost_atomic-vc140" version="1.72.0.0" targetFramework="native" />
  <package id="boost_chrono-vc140" version="1.72.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc140" version="1.72.0.0" targetFramework="native" />
  <package id="boost_regex-vc140" version="1.72.0.0" targetFramework="native" />
  <package id="boost_thread-vc140" version="1.72.0.0" targetFramework="native" />
  <package id="openssl-vc140-vc141-x86_64" version="1.1.5" targetFramework="native" />
</packages>